.sidebar-transition {
  @apply transition-transform duration-300 ease-in-out;
}


/* Custom scrollbar styling */
/* ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
